<form method="post" class="newsletter-form">

  <div>
    <label for="newsletter-form__email--modal" class="visually-hidden">Email:</label>
    <input type="email" name="EMAIL" id="newsletter-form__email--modal" tabindex="0" placeholder="Email" class="subscribe__form-input">
  </div>

  <div>
    <label for="newsletter-form__first-name--modal" class="visually-hidden">First Name:</label>
    <input type="text" name="FNAME" id="newsletter-form__first-name--modal" tabindex="0" placeholder="First Name" class="subscribe__form-input">
  </div>

  <div>
    <label for="newsletter-form__last-name--modal" class="visually-hidden">Last Name:</label>
    <input type="text" name="LNAME" id="newsletter-form__last-name--modal" tabindex="0" placeholder="Last Name" class="subscribe__form-input">
  </div>

  <div class="form-subscribe">
    <input type="submit" value="Subscribe" class="subscribe__form-submit" id="newsletter-form__submit--modal" tabindex="0" name="submit"
      onclick="_qevents.push({qacct:'p-b69x4aVRpAaBf',labels:'_fp.event.Newsletter_Button',event:'refresh'});">
  </div>

  <div class="form-response">
    <p class="form-message error-message"></p>
    <p class="form-message success-message"></p>
  </div>

  <div class="form-loading">
    <span class="visually-hidden">Loading</span>
  </div>

</form>
