{% extends "base.twig" %}

{% block content %}

<div class="page-wrapper">

  <section class="page-body">

    <div class="page__header">
      <h1 class="page__title">Page Not Found</h1>
    </div>

    <div class="page__content article-text__content">
      <p>Use the menu above, or return to the <a href="/">homepage</a> to continue browsing our site.</p>
    </div>

  </section>

</div>

{% endblock %}
