<aside class="article-component article-pull-quote">

  <div class="article-pull-quote-inner">

    <blockquote class="article-pull-quote__blockquote">
      {{ content.quote }}
    </blockquote>

    <p class="article-pull-quote__attribution">
      <span class="article-pull-quote__attribution--name">{{ content.author }}</span>
      <span class="article-pull-quote__attribution--title">{{ content.title }}</span>
    </p>

  </div>

</aside>
